@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin:0;
    font-family: roboto, sans-serif;
}
.header{
    background-color: #1F2937;
    color:white;
    margin:0;
    padding-left: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 14px;
    font-weight: bold;
}

ul{
    list-style-type: none;
    font-size: 12px;
    display: flex;
    margin: 0;
    padding-right:80px;
    gap:8px
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.second{
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 50px 100px 80px 80px;
    justify-content: space-between;
    gap:10px
}

.description .heading{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.description .heading .subtext{
    font-size: 12px;
    color: #E5E7EB;
    font-weight: normal;
}

.sign-up{
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 5px;
    padding: 4px 10px;
    color:white;
}

.Image{
    background-color: grey;
}
.info-head{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 10px;

}
.third{ 
    display: flex;
    justify-content: center;
    gap:30px;
    padding-bottom: 50px;
}

.third .info{
    font-size: 12px;
    width:100px;
    text-align: center;
  
    
}

.third .img{
    height:100px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.fourth{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding:30px 90px;
}

.fourth .quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;   
}

.fourth .person{
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

.fifth{
    margin: 40px 80px;
    background-color: #3882F6;
    color: #F9FAF8;
    display:flex;
    justify-content: space-between;
    padding: 20px 30px; 
    border-radius: 10px;
}

.fifth .heading{
    font-size: 24px;
    font-weight: bold;
}

.fifth .subtext{
    font-size: 12px;
    font-weight: normal;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.fifth .sign-up{
    border-color: #F9FAF8;
    
}